AtoiHomeManager/Connected Services/TestOneClickShotServiceSoap/OneClickShot.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OneClickShot" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/Test/OneClickShot?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/Test/OneClickShot?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/Test/OneClickShot?xsd=xsd2" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOneClickShot_GetRoot_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRoot" />
  </wsdl:message>
  <wsdl:message name="IOneClickShot_GetRoot_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRootResponse" />
  </wsdl:message>
  <wsdl:message name="IOneClickShot_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IOneClickShot_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IOneClickShotSoap_DownloadImage_InputMessage">
    <wsdl:part name="parameters" element="tns:DownloadImage" />
  </wsdl:message>
  <wsdl:message name="IOneClickShotSoap_DownloadImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownloadImageResponse" />
  </wsdl:message>
  <wsdl:portType name="IOneClickShot">
    <wsdl:operation name="GetRoot">
      <wsdl:input wsaw:Action="http://tempuri.org/IOneClickShot/GetRoot" message="tns:IOneClickShot_GetRoot_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOneClickShot/GetRootResponse" message="tns:IOneClickShot_GetRoot_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IOneClickShot/GetData" message="tns:IOneClickShot_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOneClickShot/GetDataResponse" message="tns:IOneClickShot_GetData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IOneClickShotSoap">
    <wsdl:operation name="GetRoot">
      <wsdl:input wsaw:Action="http://tempuri.org/IOneClickShot/GetRoot" message="tns:IOneClickShot_GetRoot_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOneClickShot/GetRootResponse" message="tns:IOneClickShot_GetRoot_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IOneClickShot/GetData" message="tns:IOneClickShot_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOneClickShot/GetDataResponse" message="tns:IOneClickShot_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DownloadImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IOneClickShotSoap/DownloadImage" message="tns:IOneClickShotSoap_DownloadImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOneClickShotSoap/DownloadImageResponse" message="tns:IOneClickShotSoap_DownloadImage_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOneClickShotSoap" type="tns:IOneClickShotSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRoot">
      <soap:operation soapAction="http://tempuri.org/IOneClickShot/GetRoot" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IOneClickShot/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadImage">
      <soap:operation soapAction="http://tempuri.org/IOneClickShotSoap/DownloadImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OneClickShot">
    <wsdl:port name="BasicHttpBinding_IOneClickShotSoap" binding="tns:BasicHttpBinding_IOneClickShotSoap">
      <soap:address location="http://localhost/Test/OneClickShot/SOAP" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>